.carousel-control-next, .carousel-control-prev{
    top: 50% !important;
}

.home-sobre{
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-sobre img{
    padding: 1em;
    max-width: 100%;
    max-height: auto;
}

.card-body button{
    width: 100%;
    margin-top: 10px;
}

.card-body button a{
    text-decoration: none;
}

.card-title{
    font-size: 1.5em;
    text-align: center !important;
}

.card-body{
    text-align: justify;
}

/* Produtos */

.tiles button{
    width: 100%;
    margin-top: 10px;
}

/* Contatos */

.maps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 3em;
}

.maps .contatos{
    padding: 2em;
    list-style: none;
}
.mapa {
  width: 100%;
  max-width: 400px;
  height: 300px;
  border: none;
  border-radius: 10px;
}
.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.map-wrapper .mapa {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 10px;
}

.map-wrapper .map-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  z-index: 2;
}

